header{
    background-color: #F8F1E7;
    color: black;
    text-align: center;
    position: fixed;
    top: 0vw;
    left: 0vw;
    width: 100%;
    padding: 0.5vw;
    
}

ul,nav{
    display: flex;
    list-style: none;
}

li{
    margin-right: 2vw;
    margin-top: 0.5vw;
    cursor: pointer;
}


li:hover{
    background-color: #D6961B;
    border-radius: 0.7em;
    padding: 0.5vw;
    transition: 0.5s ease-in;
    width: 8vw;
}

.logo{
    width: 5vw;
    height: 10vh;
    margin-left: 20vw;
}

/*.login-btn{
    width: 10vw;
    height: 5vh;
    color: white;
    background-color: black;
    border-radius: 0.8em;
    padding: 0.5vw;
}*/