body {
  background-color: #171a33;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#reservation-details,
#room-details {
  background-color: #171a33;
  color: white;
  display: flex;
  flex-direction: column;
}

input,
select {
  background-color: #dcdde0;
  border-radius: 0.8em;
  padding: 0.5em;
  color: black;
  border: none;
  margin-top: 2vw;
  margin-right: 1vw;
  width: 15vw;
  max-width: 80vw;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 10px rgb(231, 117, 117);
}

button {
  background-color: #43328b;
  border-radius: 0.5em;
  width: 8vw;
  padding: 0.5em;
  color: white;
  border: none;
  font-size: 1.2rem;
  margin: 2vw 1vw 0vw 0vw;
  cursor: pointer;
}

button:hover {
  background-color: #720202;
}



body {
    font-family: Arial, sans-serif;
    margin: 2;
    padding: 0;
    margin-left: 3vw;
  }
  
  h1 {
    font-size: 24px; /* Change font size to 36px */
  }
  
  h2 {
    font-size:15px; /* Change font size to 24px */
  }
  
  /* Update font size and weight for check-in and check-out dates */
  #reservation-details {
    margin-bottom: 0px;
  }
  
  #reservation-details p {
    font-size: 24px; /* Change font size to 36px */
  }
  
  /* Update font size for room details */
  #room-details {
    margin-top: 0px;
  }
  
  #room-details h2 {
    font-size: 15px; /* Change font size to 24px */
  }
  
/* roomselect.css */

/* Add your custom styles here */
body {
    font-family: Arial, sans-serif;
    /* margin: 0; */
    padding: 0;
  }
  
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 15px;
  }
  
  #reservation-details {
    margin-bottom: 0px;
  }
  
  .date-row {
    display: flex;
    justify-content: space-between;
  }
  
  .date-info {
    text-align: center;
  }
  
  .time-row {
    display: flex;
    justify-content: space-between;
  }
  
  .time-info {
    text-align: center;
  }
  