body {
    background-color: #171a33;
    font-family: "Outfit", sans-serif;
    color: white;
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    font-size: 2rem;
    color: white;
    margin-bottom: 2vw;
    font-family: "Outfit", sans-serif;
  }
  
  input {
    background-color: #dcdde0;
    border-radius: 0.8em;
    padding: 1vw;
    color: black;
    border: none;
    margin-top: 2vw;
    width: 15vw;
  }
  
  input:focus {
    outline: none;
    box-shadow: 0 0 10px rgb(231, 117, 117);
  }
  
  button {
    background-color: #720202;
    border-radius: 0.5em;
    padding: 0.5vw;
    color: white;
    border: none;
    font-size: 1.2rem;
    margin-top: 2vw;
    cursor: pointer;
    font-family: "Outfit", sans-serif;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  p {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-family: "Outfit", sans-serif;
  }
  
  span {
    color: #d6961b;
    margin-left: 1vw;
    cursor: pointer;
    font-family: "Outfit", sans-serif;
  }
  