body {
  background-color: #171a33;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.reservation-container {
  background-color: #171a33;
  color: white;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  height: 100vh;
}

.reservation-container form input,
.reservation-container form select {
  background-color: #dcdde0;
  border-radius: 0.8em;
  padding: 0.5em;
  color: black;
  border: none;
  margin-top: 2vw;
  margin-right: 1vw;
  width: 15vw;
  max-width: 80vw;
}

.reservation-container form input:focus,
.reservation-container form select:focus {
  outline: none;
  box-shadow: 0 0 10px rgb(231, 117, 117);
}

.reservation-container form button {
  background-color: #43328b;
  border-radius: 0.5em;
  width: 8vw;
  padding: 0.5em;
  color: white;
  border: none;
  font-size: 1.2rem;
  margin: 2vw 1vw 0vw 0vw;
  cursor: pointer;
}

.reservation-container form button:hover {
  background-color: #720202;
}
.room-details
{
    display: flex;
  margin-top: 2vw;
}